.Home {
    background-image: linear-gradient(to right, #eef9f9, #602af5), url('../../src/assets/OpenUp.jpg');
    background-size: cover;
    background-position: center;
    height: 150vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Adjust the height as needed */
}