.Home {
    background-color: black;    
    font-family: 'Ubuntu Mono', sans-serif; 
    background-size: cover;
    background-position: center;
    height: 150vh; /* Adjust the height as needed */
}